/front-end/node_modules
/back-end/node_modules

/front-end/.next/
/front-end/out/
/front-end/build
/back-end/build
/back-end/dist

/back-end/generated/prisma

/front-end/coverage
/back-end/coverage

.DS_Store
*.pem

logs
*.log
npm-debug.log*

.env*

.vercel

*.tsbuildinfo
next-env.d.ts
