# dependencies
/front-end/node_modules
/back-end/node_modules

# next.js
/front-end/.next/
/front-end/out/

# production
/front-end/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
